<div id="<%= dom_id buyer %>">
  <p>
    <strong>B:</strong>
    <%= buyer.b_id %>
  </p>

  <p>
    <strong>B name:</strong>
    <%= buyer.b_name %>
  </p>

  <p>
    <strong>B dob:</strong>
    <%= buyer.b_dob %>
  </p>

</div>
